/* https://www.finisher.co/lab/header/ */

.app-header {
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.activeNav {
    border-bottom: 0.4rem solid rgba(255, 255, 255, 0.527);
    cursor: pointer;
}

.nav-link:link {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-decoration: none;
    margin: 1.5rem;
}

.nav-link:visited {
    color: #fff;
}

.nav-link:hover {
    transform: scale(1.2);
}

.nav-link:active {
    color: #000;
}

.logo {
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}


/* .header-bg {
  background-image: url(/assets/imgs/svgsmthin.svg);
  background-size: cover;
  width: 100vw;
  height: 100%;
} */