* {
    box-sizing: border-box;
    --col1: #fffcf9;
    --col2: #e7ddda;
    --col3: #eeb5e2;
    --col4: #9c91ae;
    --col5: #4b3742;
    --light-txt: #e7ddda;
    --dark-txt: #4b3742;
}

.keep-container {
    background-color: var(--col2);
    /* margin-top: 1rem; */
    /* height: 100%; */
}

.keep-header {
    /* color: black; */
    /* background-color: rgba(249, 253, 0, 0.753); */
    text-align: center;
}

.keep-header h1 {
    /* color: black; */
    /* background-color: rgba(249, 253, 0, 0.753); */
    color: var(--dark-txt);
}

.note {
    /* width: 100%; */
    background-color: var(--col3);
    border: solid 1px var(--col5);
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.40);
}

.note:hover{
    transform: scale(1.02);
    transition: transform 0.2s;
}

.btn:hover{
    transform: scale(1.5);
    transition: transform 0.2s;
    color: black;
}

.note-list:not(.pinned) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.note-img img {
    width: 30%;
}

.cheked {
    text-decoration-line: line-through;
}

.note-vid {
    width: 35rem;
}

.create-note{
    display: flex;
    justify-content: center;
}

.btn-type{
    border: 0px;
    font-size: 1.5rem;
    color: grey;
    background-color: #e6ddda00;
}

.unclicked{
    background-color: #fff;
}

.clicked{
    background-color: lightblue;
}

.input-modal{
    background-color: #743365;
    border: solid 0.3rem var(--col5);
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    position: fixed;
    padding: 1rem;
    z-index: 1;
    height: 20vh;
    width: 20vw;
    border-radius: 2rem;
}

.pinned{
    order: -1;
    flex: 0 0 100%;
    align-self: space-around;
    justify-self: space-around;
}

.btn-opt{
    border: 0px;
    font-size: 1rem;
    color: grey;
    background-color: #e6ddda00;
}

.input-color:hover{
    transform: scale(1.2);
    transition: transform 0.2s;    
}

.revert, .revert:hover{
    color: #fd00c6;
}